


* {
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: center;
}

#ULTRATITLE {
    display: block;
    background: linear-gradient(to bottom right, red, green, blue);
    border: 1px solid black;
    width: 100%;
}

#IPT {
    width: 100%;
    min-width: 700px;
    height: 80px;
    text-align: center;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), red);
    position: absolute;
    top: 80px;
    left: 0;
    box-shadow: 0 3px 3px rgb(0,0,0);
    color: aliceblue;
    margin-top: 0px;
    display: block; 
}

nav {
    display: grid;
    width: 60%;
    margin: 100px auto;
    background: linear-gradient(to bottom right, rgb(255, 172, 172), rgb(37, 131, 255));
    border: 1px solid black;
    border-radius: 20%;

    a {
        color: black;
        background: linear-gradient(to bottom right, rgb(167, 0, 0), rgb(0, 0, 0));
        border: 1px solid black;
        margin: 40px;
        text-align: center;
        text-decoration: none;
        display: block;
    }
}