@import 'partials/base';
@import 'partials/header';
@import 'partials/box-shadow';
@import 'partials/color';
@import 'partials/border';
@import 'partials/dropdown';
@import 'partials/footer';
@import 'partials/text';

// Introduce accessibility and responsiveness
header {
    @include principlesHeader;
}

#standardHeader { 
    background: $netflix-black;
    & h1 {
        text-align: left;
        margin: -5px 0 0 40px;
         a {
             color: $netflix-white;

             &:hover {
                color: $facebook-dark-grey;
            } 
         }  
    }
    
    @include dropdown-template;
    #NavNav {
        width: 80%;
        margin: -20px -80px 0 auto;
        background: $linear-gradient-facebook-dark;
      }
}

.PrinNav {
    width: 60%;
    margin: 20px auto;
    background: $linear-gradient-facebook-dark;
    @include standard-1px-border;

    a {
        color: $netflix-black;
        background:  $linear-gradient-azn-nfx;
        border: 1px solid black;
        margin: 40px;
        padding: 20px 10px;
        display: block;
        color: $facebook-light-grey;
        @include BS-slight-down;

        &:hover {
            background: $netflix-red;
        }
    }
}

@include Meta-footer; 