html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#standardHeader {
  width: 100%;
  min-width: 700px;
  height: 80px;
  background: linear-gradient(to bottom right, #221F1F, #E50914);
  box-shadow: 0 3px 3px black; }
  #standardHeader h1, #standardHeader h2 {
    position: relative;
    top: 35%;
    color: white; }
    #standardHeader h1 span, #standardHeader h2 span {
      font-size: 50%;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  #standardHeader h1 {
    text-align: left;
    margin: -5px 0 0 40px; }
    #standardHeader h1 a {
      color: #F5F5F1; }
      #standardHeader h1 a:hover {
        color: #DFE3EE; }
  #standardHeader li {
    display: block;
    float: left;
    position: relative;
    transition-duration: .5s; }
    #standardHeader li:hover, #standardHeader li :focus-within {
      cursor: pointer; }
    #standardHeader li a {
      background: linear-gradient(10deg, gold, #221F1F, #221F1F, #221F1F, #221F1F, #221F1F, #221F1F, #E50914, #E50914);
      margin: 5px 30px;
      padding: 16px 10px;
      display: block;
      color: #F7F7F7;
      box-shadow: 0 0px 40px -15px rgba(255, 255, 255, 0.75);
      border: 1px solid #221F1F; }
      #standardHeader li a:hover {
        background: #221F1F; }
    #standardHeader li ul {
      visibility: hidden;
      opacity: 0;
      min-width: 5rem;
      position: absolute;
      transition: all 0.5s ease;
      left: 0;
      display: none; }
  #standardHeader ul li:hover > ul,
  #standardHeader ul li:focus-within > ul,
  #standardHeader ul li ul:hover,
  #standardHeader ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 2; }
  #standardHeader ul li ul li {
    clear: both;
    width: 100%; }
    #standardHeader ul li ul li a {
      margin: 1px;
      background: linear-gradient(to bottom right, #FF9900, red, #221F1F);
      border: 1px solid #221F1F; }
      #standardHeader ul li ul li a:hover {
        background: #b40710; }
  #standardHeader #NavNav {
    width: 80%;
    margin: -20px -80px 0 auto;
    background: linear-gradient(to bottom right, #3B5998, #DFE3EE); }

#black-hole {
  height: 1000px;
  background: black; }

footer {
  height: auto;
  width: 100%;
  background: #221F1F;
  position: absolute;
  left: 0;
  padding: 10px 0 30px 0;
  line-height: 30px; }
  footer h2, footer p {
    color: #F5F5F1;
    text-align: left;
    padding: 15px 20px 10px 20px;
    margin: 0 40px; }
  footer .NLB {
    white-space: nowrap; }
  footer .UB {
    font-weight: 700;
    text-decoration: underline; }
  footer a {
    color: #221F1F;
    background: linear-gradient(to bottom right, #FF9900, red, #221F1F);
    border: 1px solid #221F1F;
    color: #F7F7F7;
    box-shadow: 0px 5px 17px -3px rgba(0, 0, 0, 0.75);
    padding: 4px 7px;
    margin: 0 5px; }
    footer a:hover {
      background: #b40710; }
  footer #CRUD {
    background: #221F1F;
    border: 1px solid #221F1F;
    color: #4285F4;
    box-shadow: none;
    padding: 0; }
    footer #CRUD:hover {
      color: #146EB4; }
  footer #PT {
    background: none;
    border: 1px solid #221F1F;
    color: #F5F5F1;
    box-shadow: none;
    padding: 0; }
    footer #PT:hover {
      background: none; }
    footer #PT:hover {
      color: #DFE3EE; }
