$white          : #fff;
$black          : #000;
$grey           : #878787;
$regent-st-blue : #add8e6;
$river-bed      : #48525c;
$yellow-orange  : #ffa949;
$mandy: #ED616D;

// Company-colors: https://www.w3schools.com/colors/colors_brands.asp
$netflix-red: #E50914;
$netflix-black: #221F1F;
$netflix-white: #F5F5F1;

$amazon-orange: #FF9900;
$amazon-blue: #146EB4;


$facebook-dark-blue: #3B5998;
$facebook-light-blue: #8B9DC3;
$facebook-dark-grey: #DFE3EE;
$facebook-light-grey: #F7F7F7;

$google-blue: #4285F4;
$google-yellow: #FBBC05;
$google-green: #34A853;
$google-red: #EA4335;

@mixin linear-gradient-facebook-dark {
    background: linear-gradient(to bottom right, $facebook-dark-blue, $facebook-dark-grey);
}

@mixin linear-gradient-azn-nfx {
    background: linear-gradient(to bottom right, $amazon-orange, red, $netflix-black);
}