@import 'box-shadows';

@mixin principlesHeader(){
    width: 100%;
    min-width: 700px;
    height: 80px;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), red);
    @include BS-very-slight-down;
    & h1, h2 {
        position: relative;
        top: 30%;
        color: white;
    }
}