@import 'box-shadow';
@import 'base';
@import 'color';

@mixin principlesHeader(){
    width: 100%;
    min-width: 700px;
    height: 80px;
    background: $linear-gradient-nfx;
    @include BS-very-slight-down;
    & h1, h2 {
        position: relative;
        top: 35%;
        color: white;

        & span {
            font-size: 50%;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
}